@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LexendDeca";
    src: local('LexendDeca'), url('./assets/LexendDeca.ttf') format('truetype');
}

body {
    font-family: "LexendDeca";
}

.login-screen {
    margin-left: auto;
    margin-right: auto;
}